@import url(main-style.css);
* {
  font-family: 'Jockey One';
}

._lk_de{
  background-repeat:no-repeat;
  background-size:cover;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.form-03-main{
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 50px;
  background:rgba(149, 149, 149, 0.6);
  border-radius: 35px;
}

.bg_burgerizza{
  background:url(../images/login_img.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
  z-index:2;
  overflow:hidden;
  padding: 25px;
}

.form-group{
  padding: 2px 0px;
  display: flex;
  width: 100%;
  position:relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > label{
    align-self: flex-start;
    padding: 3px ;
    color: rgba(255, 255, 255, 1);
  }

  > p {
    /* font-family: 'Jockey One'; */
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    > a {
      color:  rgba(231, 236, 0, 1);
      text-decoration: none;
    }
  }
}

.form-control{
  min-height:45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 15px;
  background: #FFFFFF;
  border: 2px solid #959595;
  border-radius: 15px;
  font-family: "Jacques Francois";
  color: #959595;
}

._btn_04 {
    display: inline-block;
    width: 35%;
    padding: 12px 0px;
    margin: 10px;
    background: #F22641;
    border-radius: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
}

._btn_04 a{
  font-size:15px;
  color:#fff;
  text-decoration: none;
}

.nm_lk{
  text-align:center;
}

@media screen and (max-width: 900px) {
  .form-03-main{
    width: 50vh;
    height: 50vh;
  }
}