@font-face {
    font-family: Jockey One;
    src: url(../fonts/JockeyOne-Regular.ttf);
    font-weight: bold;
}
@font-face {
  font-family: Jacques Francois;
  src: url(../fonts/JacquesFrancois-Regular.ttf);
  font-weight: bold;
}
body{
  font-size: 12px;
}